<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.twitterhashtagvotecounter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

   <uses-permission android:name="android.permission.INTERNET" />
		
    <permission
		android:name="my.twitter.app.TweetsSearch.Permission"
		android:protectionLevel="dangerous"
		android:label="@string/tweets_search_permission" 
		android:description="@string/tweets_search_permission">		
	</permission> 
    
    <application
        android:name=".MyTwitterApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PostTweet"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".TweetsSearch"
            android:permission="my.twitter.app.TweetsSearch.Permission"
            android:label="@string/title_activity_tweets_search" >
            
            <intent-filter >
                <action android:name="action.Activity.TweetsSearch"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            
        </activity>
        
    </application>

</manifest>
